<main id="main" class="main">

  <div class="pagetitle">
    <h1>{{title}}</h1>

  </div><!-- End Page Title -->

  <section class="section dashboard">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h3 class="card-title">Bolalar qo'shish</h3>
              <p>Bolalar qo'shish uchun qo'shish tugmachasini bosing</p>
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addworker">
                Qo'shish
              </button>
            </div>
            <div class="modal fade" id="addworker" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Bolalar qo'shish</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <form action="/children/create" method="POST">
                    <div class="modal-body">
                      <div class="mb-3">
                        <label class="form-label" for="">Ism Familiya</label>
                        <input class="form-control" type="text" name="fullname" required>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="">Tug'ulgan sanasi</label>
                        <input class="form-control" type="date" name="birth" required>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="">Ish boshlagan sanasi</label>
                        <input class="form-control" type="date" name="date" required>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="">Oylik to'lovi</label>
                        <input class="form-control" type="number" name="amount" required>
                      </div>
                      <div class="mb-3">
                        <label class="form-label" for="">Guruhi</label>
                        <select class="form-select" name="groups">
                          {{#each groups}}
                          <option value="{{_id}}">{{title}}</option>
                          {{/each}}
                        </select>
                      </div>

                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Qaytish</button>
                      <button type="submit" class="btn btn-primary">Qo'shish</button>
                    </div>
                  </form>
                </div>
              </div>
            </div><!-- End Basic Modal-->

          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Bolalar Ro'yhati</h3>
            <p>Bu sahifada xodimlar ro'yhatini ko'rishiz mumkin</p>
            <!-- Bordered Table -->
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ism Familiyasi</th>
                    <th scope="col">Tugilgan sanasi</th>
                    <th scope="col">Kelgan sanasi</th>
                    <th scope="col">Oylik to'lovi</th>
                    <th scope="col">Guruhlari</th>
                    <th scope="col">O'zgartirish</th>
                    <th scope="col">O'chirish</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each children}}
                  <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{fullname}}</td>
                    <td>{{birth}}</td>
                    <td>{{date}}</td>
                    <td>{{amount}}</td>
                    <td>
                      {{#if groups}}
                      {{groups.title}}
                      {{else}}
                      -
                      {{/if}}
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                        data-bs-target="#update-{{@index}}">
                        <i class="ri-edit-box-fill"></i>
                      </button>
                      <div class="modal fade" id="update-{{@index}}" tabindex="-1">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Bolani malumotlarini o'zgartirish</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="/children/update/{{_id}}" method="POST">
                              <div class="modal-body">
                                <div class="mb-3">
                                  <label class="form-label" for="">Ism Familiya</label>
                                  <input class="form-control" type="text" name="fullname" required value="{{fullname}}">
                                </div>
                                <div class="mb-3">
                                  <label class="form-label" for="">Tug'ulgan sanasi</label>
                                  <input class="form-control" type="date" name="birth" required value="{{birth}}">
                                </div>
                                <div class="mb-3">
                                  <label class="form-label" for="">Kelgan sanasi</label>
                                  <input class="form-control" type="date" name="date" required value="{{date}}">
                                </div>
                                <div class="mb-3">
                                  <label class="form-label" for="">Oylik to'lovi</label>
                                  <input class="form-control" type="number" name="amount" required value="{{amount}}">
                                </div>
                                <select class="form-select" name="groups">
                                  {{#each ../groups}}
                                  <option value="{{_id}}">{{title}}</option>
                                  {{/each}}
                                </select>


                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Qaytish</button>
                                <button type="submit" class="btn btn-primary">Qo'shish</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div><!-- End Basic Modal-->
                    </td>
                    <td>
                      <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                        data-bs-target="#delete-{{@index}}">
                        <i class="ri-delete-bin-fill"></i>
                      </button>
                      <div class="modal fade" id="delete-{{@index}}" tabindex="-1">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title">Bolani malumotlarini o'chirish</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form action="/children/delete/{{_id}}" method="POST">
                              <div class="modal-body">
                                <h4>Haqiqatdan ham O'chirmoqchimisiz</h4>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Qaytish</button>
                                <button type="submit" class="btn btn-danger">O'chirish</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div><!-- End Basic Modal-->
                    </td>
                    <!-- Basic Modal -->

                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            <!-- End Bordered Table -->
          </div>
        </div>
      </div>

      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">Guruhlar Ro'yhati</h3>
            <p>Bu sahifada guruhlar ro'yhatini ko'rishiz mumkin</p>
            <!-- Bordered Table -->
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Guruh nomi</th>
                    <th scope="col">Guruh haqida ma'lumot</th>
                    <th scope="col">Tarbiyachilar</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each groups}}
                  <tr>
                    <th scope="row">{{@index}}</th>
                    <td>{{title}}</td>
                    <td>{{descr}}</td>
                    <td>
                      {{#if teacher}}
                      <ol>
                        {{#each teacher}}
                        <li>{{fullname}}</li>
                        {{/each}}
                      </ol>
                      {{else}}
                      -
                      {{/if}}
                    </td>
                  </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            <!-- End Bordered Table -->
          </div>
        </div>
      </div>

      {{#each groups}}
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="text-center">
              <h3 class="card-title">{{title}}dagi bolalar Ro'yhati</h3>
            <p>Bu sahifada xodimlar ro'yhatini ko'rishiz mumkin</p>
            </div>
            <!-- Bordered Table -->
            <div class="table-responsive">
              <table class="table table-bordered table-hover">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ism Familiyasi</th>
                    <th scope="col">Tugilgan sanasi</th>
                    <th scope="col">Kelgan sanasi</th>
                    <th scope="col">Oylik to'lovi</th>
                    <th scope="col">O'zgartirish</th>
                    <th scope="col">O'chirish</th>
                  </tr>
                </thead>
                <tbody>
                  {{#if children}}
                    {{#each children}}
                    <tr>
                      <th scope="row">{{@index}}</th>
                      <td>{{fullname}}</td>
                      <td>{{birth}}</td>
                      <td>{{date}}</td>
                      <td>{{amount}}</td>
                      <td>
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                          data-bs-target="#update-{{@index}}">
                          <i class="ri-edit-box-fill"></i>
                        </button>
                        <div class="modal fade" id="update-{{@index}}" tabindex="-1">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Bolani malumotlarini o'zgartirish</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <form action="/children/update/{{_id}}" method="POST">
                                <div class="modal-body">
                                  <div class="mb-3">
                                    <label class="form-label" for="">Ism Familiya</label>
                                    <input class="form-control" type="text" name="fullname" required value="{{fullname}}">
                                  </div>
                                  <div class="mb-3">
                                    <label class="form-label" for="">Tug'ulgan sanasi</label>
                                    <input class="form-control" type="date" name="birth" required value="{{birth}}">
                                  </div>
                                  <div class="mb-3">
                                    <label class="form-label" for="">Kelgan sanasi</label>
                                    <input class="form-control" type="date" name="date" required value="{{date}}">
                                  </div>
                                  <div class="mb-3">
                                    <label class="form-label" for="">Oylik to'lovi</label>
                                    <input class="form-control" type="number" name="amount" required value="{{amount}}">
                                  </div>
                                  <select class="form-select" name="groups">
                                    {{#each ../groups}}
                                    <option value="{{_id}}">{{title}}</option>
                                    {{/each}}
                                  </select>


                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Qaytish</button>
                                  <button type="submit" class="btn btn-primary">Qo'shish</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div><!-- End Basic Modal-->
                      </td>
                      <td>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                          data-bs-target="#delete-{{@index}}">
                          <i class="ri-delete-bin-fill"></i>
                        </button>
                        <div class="modal fade" id="delete-{{@index}}" tabindex="-1">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title">Bolani malumotlarini o'chirish</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <form action="/children/delete/{{_id}}" method="POST">
                                <div class="modal-body">
                                  <h4>Haqiqatdan ham O'chirmoqchimisiz</h4>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Qaytish</button>
                                  <button type="submit" class="btn btn-danger">O'chirish</button>
                                </div>
                              </form>
                            </div>
                          </div>
                        </div><!-- End Basic Modal-->
                      </td>
                      <!-- Basic Modal -->

                    </tr>
                    {{/each}}
                  {{else}}
                    <tr>
                      <td colspan="8">
                        <h2 class="text-center">Hozircha bu guruhga bolalar kiritilmagan</h2>
                      </td>
                    </tr>
                  {{/if}}
                </tbody>
              </table>
            </div>
            <!-- End Bordered Table -->
          </div>
        </div>
      </div>  
      {{/each}}
    </div>
  </section>

</main><!-- End #main -->